<mat-nav-list>

    <mat-list-item>
        <a>
            <div class="navButtonContent" [matMenuTriggerFor]="menu">
                <mat-icon fontSet="material-icons-outlined">supervised_user_circle</mat-icon><span class="nav-text">User Management</span>
            </div>
            <mat-menu #menu="matMenu">
                <a routerLinkActive="list-item-active" routerLink="/register-user"><button mat-menu-item>Register User</button></a>
                <a routerLinkActive="list-item-active" routerLink="/view-users"><button mat-menu-item>View Users</button></a>
              </mat-menu>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a routerLinkActive="list-item-active" routerLink="/room-management">
            <div class="navButtonContent">
                <mat-icon fontSet="material-icons-outlined">list_alt</mat-icon><span class="nav-text">Room Management</span>
            </div>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a routerLinkActive="list-item-active" routerLink="/hotel-information">
            <div class="navButtonContent">
                <mat-icon fontSet="material-icons-outlined">contacts</mat-icon><span class="nav-text">Information Management</span>
            </div>
        </a>
    </mat-list-item>
        
    </mat-nav-list>
    