<mat-nav-list>

    <mat-list-item>
        <a routerLinkActive="list-item-active" routerLink="/dashboard">
            <div class="navButtonContent">
                <mat-icon fontSet="material-icons-outlined">dashboard</mat-icon><span class="nav-text">Dashboard</span>
            </div>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a routerLinkActive="list-item-active" routerLink="/user-management">
            <div class="navButtonContent">
                <mat-icon fontSet="material-icons-outlined">fact_check</mat-icon><span class="nav-text">User Management</span>
            </div>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a routerLinkActive="list-item-active" routerLink="/room-management">
            <div class="navButtonContent">
                <mat-icon fontSet="material-icons-outlined">list_alt</mat-icon><span class="nav-text">Room Management</span>
            </div>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a routerLinkActive="list-item-active" routerLink="/information-management">
            <div class="navButtonContent">
                <mat-icon fontSet="material-icons-outlined">contacts</mat-icon><span class="nav-text">Information Management</span>
            </div>
        </a>
    </mat-list-item>
        
    </mat-nav-list>
    