.mat-content {
    padding: 50px;
}
.example-form {
    min-width: 150px;
    max-width: 1500px;
    /* // width: 100%; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  
  .example-full-width {
    /* padding: 10px 0 10px 0; */
    width: 100%;
    /* // display: inline-block;
    // margin: auto;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0; */
  }

  .example-full-width mat-radio-group {
    margin-bottom: 30px;
  }

  .example-half-width {
    padding: 10px;
    width: 50%;
    /* // display: inline-block;
    // margin: auto;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0; */
  }
  
  .inline-block {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 600px;
}
  td {
    padding-right: 12px;
  }


  .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 8px solid rgba(205, 205, 205, 0.7);
    position: relative;
    /* top: 72px; */
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 172px;
  left: 195px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 2.5em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.profile-picture-section {
    margin-bottom: 15px;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 32px;
  border-radius: 4px;
}

.form-button {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}